* {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
}

.page {
  font-style: normal;
  margin: 0 auto;
  color: #000000;
  background-color: #e5e5e5;
  max-height: 500px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
