.header__button-register {
  width: 196px;
  height: 34px;
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: 2px solid rgba(139, 164, 249, 1);
  border-radius: 22px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
